DATABASE_URL="postgresql://<user>:<pass>@<host>/<db>?sslmode=require"
NEXTAUTH_URL="https://www.debuguei.com.br"
NEXTAUTH_SECRET="<gera>"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
RESEND_API_KEY=""
S3_ACCESS_KEY_ID=""
S3_SECRET_ACCESS_KEY=""
S3_BUCKET=""
S3_REGION=""
WHATSAPP_PHONE="5571992620696"
